@import "header";
@import "carousel";
@import "footer";

@font-face {
  font-family: 'kginimitable';
  src: url('/assets/fonts/KGInimitableOriginal.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kginimitable_bolder';
  src: url('/assets/fonts/KGInimitableOriginal.woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_light';
  src: url('/assets/fonts/Brandon_light.woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_bold';
  src: url('/assets/fonts/Brandon_bld.woff');
  font-weight: bold;
  font-style: normal;
}

.img-responsive {
  margin-left: 100px;
}

#divMapa {
  width: 100%;
  height: 350px;
}

.g-map {
  height: 100%;
}

.g-map-canvas {
  width: 100%;
  height: 100%;
}

.form-area {
  background-color: #ffffff;
}
