@import "header";
@import "carousel";
@import "footer";
@font-face {
  font-family: 'kginimitable';
  src: url('/assets/fonts/KGInimitableOriginal.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kginimitable_bolder';
  src: url('/assets/fonts/KGInimitableOriginal.woff');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_light';
  src: url('/assets/fonts/Brandon_light.woff');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'brandon_bold';
  src: url('/assets/fonts/Brandon_bld.woff');
  font-weight: bold;
  font-style: normal;
}

.img-responsive {
  margin-left: 100px;
}

#divMapa {
  width: 100%;
  height: 350px;
}

.g-map {
  height: 100%;
}

.g-map-canvas {
  width: 100%;
  height: 100%;
}

.form-area {
  background-color: #ffffff;
}

.threeColumnPrinciples {
  padding: 60px 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: 'brandon_light';
  .principleTitle {
    padding: 20px 20px;
    font-size: x-large;
    span {
      margin-left: 10px;
    }
  }
  .principleContent {
    font-size: medium;
  }
}

// QUIENES SOMOS
.history {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'brandon_light';
  font-size: large;
}

.philosophyImage {}


// CONTACTO
.mailSentMessage {
  padding: 20px 20px;
  font-family: 'brandon_bold';
  font-size: x-large;
  color: #941e81;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-image: none;
  background-color: #06a69c;
  border-color: #06a69c;
}
