@import "navbar";
@import "footer";

/*html,
body {
  margin-top: 60px;
}*/

.img-responsive {
  margin-left: 100px;
}

/*#barraMenu {
  margin-top: 10px;
}*/

#divMapa {
  width: 100%;
  height: 350px;
}

.g-map {
  height: 100%;
}

.g-map-canvas {
  width: 100%;
  height: 100%;
}

.form-area {
  background-color: #ffffff;
}
