//colors
$color_indicator: #06a69c;
//urls
$url_slide1: url('/assets/images/slide1.png');
$url_slide2: url('/assets/images/slide2.png');
$url_slide3: url('/assets/images/slide3.png');
$url_slide4: url('/assets/images/slide4.png');
$url_slide5: url('/assets/images/slide5.png');
//@extend-elements
//original selectors
//.btn.btn-hero, .btn.btn-hero:hover, .btn.btn-hero:focus
//original selectors
//.fade-carousel .slides .slide-1, .fade-carousel .slides .slide-2, .fade-carousel .slides .slide-3
%extend_1 {
  height: 100vh;
  background-size: 1366px 500px;
  background-position: left top;
  background-repeat: no-repeat;
}

.fade-carousel {
  position: relative;
  width: 1366px;
  height: 500px;
  .slides {
    .slide-1 {
      @extend %extend_1;
      background-image: $url_slide1;
    }
    .slide-2 {
      @extend %extend_1;
      background-image: $url_slide2;
    }
    .slide-3 {
      @extend %extend_1;
      background-image: $url_slide3;
    }
    .slide-4 {
      @extend %extend_1;
      background-image: $url_slide4;
    }
    .slide-5 {
      @extend %extend_1;
      background-image: $url_slide5;
    }
  }
  .carousel-inner .item {
    //height: 100vh;
    &.active {
      opacity: 1;
      //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
      transition: 2s all ease-in-out .1s;
    }
  }
  .carousel-indicators > li {
    margin: 0 2px;
    background-color: $color_indicator;
    border-color: $color_indicator;
    opacity: 0.5;
    &.active {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
  }
  /*.carousel-logo {
    position: absolute;
    top: 10px;
  }*/
}
