//colors
$color_normal: #ffffff;
$color_inverse: #000000;
//$color_borde_nombre: #941e81;
//$color_tipo: #06a69c;
$color_links: #941e81;
$color_active_link: #06a69c;
.navbar {
  background-color: $color_normal;
  color: $color_normal;
  background-image: none;
  /*.navbar-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    .navbar-collapse {
      position: relative;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }*/
}

.header-titulo {
  margin: 5px 5px;
  //padding: 20px;
  /*.header-nombre {
    font-family: 'kginimitable_bolder';
    font-size: 30px;
    color: $color_nombre;
    //text-shadow: 4px 0 $color_borde_nombre, 0 4px $color_borde_nombre, 4px 0 $color_borde_nombre, 0 -4px $color_borde_nombre;
    text-shadow: -5px 0px 3px $color_borde_nombre, 0px 5px 3px $color_borde_nombre, 5px 0px 3px $color_borde_nombre, 0px -5px 3px $color_borde_nombre;
  }
  .header-tipo {
    font-family: 'kginimitable';
    color: $color_tipo;
  }*/
}

.navbar-nav.navbar-right {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
  .header-links {
    font-family: 'brandon_bold';
    color: $color_links;
  }
  .active {
    color: $color_active_link;
  }
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: $color_active_link;
}
