<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Activar navegacion</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index"}}<img class="img-responsive" src="/assets/images/logo_1_menu.png">{{/link-to}}
    </div>
    <div id="barraMenu" class="collapse navbar-collapse">
      <!-- <ul class="nav nav-justified"> -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          {{#link-to "index"}}Inicio{{/link-to}}
        </li>
        <li>
          {{#link-to "quienes-somos"}}Quienes Somos{{/link-to}}
        </li>
        <li>
          {{#link-to "contacto"}}Contacto{{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="body">
  {{outlet}}
</div>
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Company<span>logo</span></h3>
    <p>
      <ul>
        <li>
          {{#link-to "index" class="footer-links"}}Inicio{{/link-to}}
        </li>
        <li>
          {{#link-to "quienes-somos" class="footer-links"}}Quienes Somos{{/link-to}}
        </li>
        <li>
          {{#link-to "contacto" class="footer-links"}}Contacto{{/link-to}}
        </li>
      </ul>
    </p>
    <p class="footer-company-name">KinderLand &copy; 2017 en adelante</p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Avenida Miguel Angel 123 y Calle de los Jazmines</span>Urbanizacion La Primavera 2, Quito</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>02 2052 733</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">cdikinderland@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right">
    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>
