{{outlet}}
<div class="container">
  <div class="form-area">
    <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbxYjklCoTsUEMDegOO6U2zwJubaVZlrDg-JivTGz0jusXsxaM3F/exec">
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">
            Nombres y Apellidos</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="" required="required" />
        </div>
        <div class="form-group">
          <label for="email">
            Correo electr&oacute;nico</label>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
            </span>
            <input type="email" class="form-control" id="email" name="email" placeholder="" required="required" />
          </div>
        </div>
        <div class="form-group">
          <label for="subject">
            Asunto</label>
          <input type="text" class="form-control" id="subject" name="subject" placeholder="" required="required" />
          <!-- <select id="subject" name="subject" class="form-control" required="required">
                                <option value="na" selected="">Choose One:</option>
                                <option value="service">General Customer Service</option>
                                <option value="suggestions">Suggestions</option>
                                <option value="product">Product Support</option>
                            </select> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="name">
            Mensaje</label>
          <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder=""></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
          Enviar Mensaje</button>
      </div>
    </form>
    <!-- Cuando se envia el mensaje -->
    <div style="display:none;" id="thankyou_message">
      <h2><em>Gracias</em> por contactarnos
      Pronto le ayudaremos!</h2>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{rootURL}}assets/scripts/form-submission-handler.js"></script>
