<div class="jumbo">
    <div class="right tomster"></div>
    <h2>Bienvenido!</h2>
    <p>Somos lo que esas buscando para tus niños.</p>
    {{#link-to 'quienes-somos' class="button"}} Quienes Somos {{/link-to}}
</div>
{{outlet}}