{{outlet}}
<div class="container-fluid">
  <div class="row">
    <div class="aboutText">
      <p class="aboutTitle">Historia</p>
      <p>
      Kinderland nace de la idea de tres hermanos. Fernando, Carla y Sof&iacute;a, comprometidos con la ense&ntilde;anza de los m&aacute;s peque&ntilde;os, cada uno impulsado por un sue&ntilde;o diferente pero en busca del mismo objetivo: dar a nuestra comunidad un servicio de confianza.
      <br />
      <br />
      Carla es graduada en Psicolog&iacute;a de la Universidad San Francisco, con una maestr&iacute;a en Psicopedagog&iacute;a de la Universitat de Barcelona. Sof&iacute;a es graduada en Arte Culinario y Administraci&oacute;n de alimentos y bebidas y madre de tres ni&ntilde;os. Fernando es Ingeniero en Sistemas y padre de una ni&ntilde;a.
      <br />
      <br />
      Impulsados por su amor a la ense&ntilde;anza y los ni&ntilde;os, desarrollaron la idea llamada Kinderland que busca, aparte de ser un centro infantil, un segundo hogar para nuestros alumnos. 
      </p>
    </div>
  </div>
  <div class="row">
    <img class="img-responsive philosophyImage" src="/assets/images/portada.png">
  </div>
  <div class="row">
    <div class="aboutText">
      <p class="aboutTitle">Misi&oacute;n</p>
      <p>
      KinderLand busca convertirse en un centro de desarrollo infantil que responda a las necesidades de la familia actual, brindando apoyo a los padres de familia, desarrollando las capacidades y actitudes de los ni&ntilde;os, y garantizando un clima de confianza y bienestar en donde nuestros docentes trabajen con eficacia y en equipo.
      </p>
      <br />
      <p class="aboutTitle">Visi&oacute;n</p>
      <p>
      El centro de desarrollo infantil Kinderland es una instituci&oacute;n dedicada a educar y desarrollar las destrezas individuales y colectivas de los ni&ntilde;os, a trav&eacute;s del aprendizaje l&uacute;dico. KinderLand busca satisfacer las necesidades afectivas de los ni&ntilde;os en sus primeros a&ntilde;os de vida combinando el juego y el buen cuidado para fomentar sentimientos positivos hacia el aprendizaje.
      </p>
    </div>
  </div>
</div>
